/* global.css */

h2
{
    text-align: center;
    color: #3F3F3F;
    font-family: Roboto;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 700;
    line-height: 140%; /* 1.575rem */
    letter-spacing: 0.0125rem;
}
h3
{
    text-align: left;
    color: #3F3F3F;
    font-family: Roboto;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 700;
    line-height: 140%; /* 1.575rem */
    letter-spacing: 0.0125rem;
}

body {
    font-family: 'Roboto ', sans-serif;
    color: #3F3F3F;
    font-family: Roboto;
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; /* 1.05rem */
    letter-spacing: 0.0125rem;
   
  }

