.ui-heading {
    flex-grow: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 3rem;

}

.ui-heading-content {
    font-size: 1.875rem;
    line-height: 2.25rem;
    font-weight: 700;
    letter-spacing: -0.025em;
    margin: 0;
}

.profile-icon {
    display: flex;
    align-items: center;
  }